{% extends "base.html" %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}

{% if jobs %}
    <div class="content-section pt-4" style="padding-bottom: 0; border-radius: 6px; border: none; box-shadow: 0 1px 6px hsla(0, 0%, 4%, 0.1)">
        {% for job in jobs %}
            <article class="media pb-4 mb-4" style="border-bottom: 2px solid #ededed">
                <div style="width: 100%">
                    <span><a class="article-title" href="{% url 'job-detail' job.slug %}">{{ job.title }}</a></span>
                    <span class="text-muted mr-1" style="font-size: small">({{ job.created_date|custom_naturaltime }})</span><br />

                    <i class="bx bxs-building" style="font-size: small; margin-left: -2px"></i>
                    <span style="vertical-align: middle; font-size: small">{{ job.company }}</span><br />
                    <i class="bx bxs-map" style="font-size: small; margin-left: -2px"></i>
                    <span style="vertical-align: middle; font-size: small">{{ job.location }} </span><br />
                    <i class="bx bxs-briefcase" style="font-size: small; margin-left: -2px"></i>
                    <span style="vertical-align: middle; font-size: small">{{ job.get_hiring_type_display }}</span>
                    <span class="text-muted" style="font-size: small; vertical-align: middle">(Salário: {{ job.get_salary_display }})</span>
                </div>

                <div style="text-align: center; width: 8rem; margin-right: 2px">
                    {% if user.is_candidate == True or user.is_authenticated == False %}
                    <a class="btn btn-dark" style="margin-top: 4px; font-size: 14px; padding: 5px 8px 5px 9px" href="{% url 'request-job' job.slug %}" >Enviar Currículo</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
