{% extends "base.html" %} 
{% block content %}

<legend class="mb-4">Solicitações Enviadas</legend>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Descrição da Vaga</th>
            <th>Status</th>
            <th>Currículo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td><a href="{% url 'job-detail' request.job.slug %}">{{ request.job }}</a></td>
            <td>{{ request.status }}</td>
            <td><a href="{{ request.resume_url }}" target="_blank">Visualizar</a></td>
            <td><a href="{% url 'cancel-request' request.job.slug %}"><span data-tooltip="Remover"><i class="bx bx-trash" style="font-size: 20px; color: #e35f5f"></i></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
